[Unit]
Description=Docker compose healthcheck on %I
Requires=docker.socket
After=docker.socket
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
if [ -n "$(/usr/bin/docker compose --project-directory %I ps --all --status=exited -q)" ]; then\
exec /usr/bin/docker compose --project-directory %I down;\
exec /usr/bin/docker compose --project-directory %I up -d;\
else exec echo "No containers to restart"; fi'